<div class="newsletter-subscribe  container">
    <div class="container">
        <div class="intro">
            <h2 class="text-center newsletter">Welcome To the QUIZ APP</h2>
            <p class="text-center">To Start The Test Enter Your Name Below </p>
        </div>
        <form class="form-inline" >
            <div class="form-group"><input class="form-control" type="text" name="username" [(ngModel)]="username" placeholder="Your Full Name" required></div>
            <div class="form-group"><button class="btn btn-primary" type="submit" (click)="StartTest()">START </button> </div>
        </form>
    </div>
</div>